@{
    string title = @ViewBag.Title ?? @ViewBag.Title + " - SweetGeek";
}
<!DOCTYPE HTML>
<html>
<head>
    <!-- #BeginEditable "doc_title" -->
    <title>@title</title>
    <!-- #EndEditable -->
    <link href="~/Content/orange_theme.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    
    @RenderSection("head", required: false)
</head>
<body>
    <header>
        <div id="logo">
            <a href="~/">
                <img src="~/Content/logo.png" alt="Sweet Geek Logo" />
                Sweet Geek </a>
            <nav style="float: right;">
                <a href="~/About">About</a> <a href="~/Diabetes">Diabetes</a> <a href="~/Science">Science!</a>
                <a href="http://blog.sweetgeek.net">Blog</a>
            </nav>
        </div>
        @if (ViewBag.Breadcrumb != null)
        {
            <div id="Breadcrumb">@ViewBag.Breadcrumb</div>
        }
        @if (ViewBag.PageTitle != null)
        {
            <div id="page-title">@ViewBag.PageTitle</div>
        }
    </header>
    @RenderSection("featured", required: false)
    <div id="page-content">
        @RenderBody()
    </div>
    <footer>
        <a id="disclaimer" href="~/Disclaimer">Disclaimer</a> <a id="site-index" href="~/SiteIndex">
            Site Index</a>
        <div id="copyright">
            &copy; sweetgeek.net</div>
    </footer>
</body>
</html>
