@using SweetCMS
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render(Bundles.Styles)
        @RenderSection("head", required: false)
    </head>
    <body>
        @RenderBody()

        @Scripts.Render(Bundles.Scripts)
        @RenderSection("scripts", required: false)
    </body>
</html>
